.form,
.inputComponentContainer {
  display: flex;
  flex-direction: column;
}
.App,
.twodDateInputContainer,
.dateCvcContainer {
  display: flex;
}
.twodDateInputContainer input {
  width: 35%;
}
.twodDateInputContainer {
  gap: 14px;
}
.App {
  position: relative;
  top: 50%;
  align-items: center;
  display: table;
}

.card-images,
.form {
  display: table-cell;
  vertical-align: middle;
}

.form {
	margin-right: 100px;
	width: 20%;
}

.card-images {
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}

.div-in-app {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 200px;
}

.card {
	width: 80%;
}
.cvcInput {
  width: 100%;
}