@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.form,
.inputComponentContainer {
  display: flex;
  flex-direction: column;
}
.App,
.twodDateInputContainer,
.dateCvcContainer {
  display: flex;
}
.twodDateInputContainer input {
  width: 35%;
}
.twodDateInputContainer {
  gap: 14px;
}
.App {
  position: relative;
  top: 50%;
  align-items: center;
  display: table;
}

.card-images,
.form {
  display: table-cell;
  vertical-align: middle;
}

.form {
  margin-top: 5rem;
  width: 25%;
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
}

.card-images {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 9rem;
  position: absolute;
  top: 30px;
  left: 30px;
}

.div-in-app {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
}

.card {
  width: 115%;
}

.cvcInput {
  width: 100%;
}

.inputComponentContainer {
  margin-bottom: 10px;
}

.card-back {
  margin-left: 10rem;
}

.card-preview-container {
  position: relative;
  top: 0;
  left: 0;
}

.background-image {
  position: relative;
  top: 0;
  right: 55%;
  height: 100vh;
  width: 140%;
}
.card-front-container,
.card-back-container {
  position: relative;
  text-align: center;
  color: white;
}
.cardNumber {
  position: absolute;
  top: 50%;
  left: 55%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.cardholderName {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.date {
  position: absolute;
  bottom: 8px;
  right: -20px;
}
.Cvc {
  position: absolute;
  top: 50%;
  right: -50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}
.cardLogo {
  position: absolute;
  top: 8px;
  left: 16px;
}
@media screen and (max-width: 600px) {
	body {
		max-width: 100%;
    height: 100%;
		margin: 0;
	}

	.background-image {
		width: 250%;
		/* min-width: 100%; */
		height: 50vh;
    
	}

	.div-in-app {
		display: flex;
		flex-direction: column;
		gap: 0;
	}

	.form {
		width: 70%;
		margin-top: 2rem;
	}


	.card-images {
		color: white;
		top: -34%;
		left: 0;
	}

	.card-back {
		margin: 0;
	}

	.card {
		width: 100%;
	}
}